<%- include ../partials/header.ejs %>

<!-- Content for the Edit_contact page -->

<div class="container">
    <div class="row">
        <h1><%= title %></h1>
        <br>
        <form class="col col-lg-6 " method="POST">
            <div class="form-group">
                <input type ="hidden" name="id"
                    value="<%= contact._id %>">
                <label for="contactName">Name</label>
                <input type ="text" class="form-control"
                    id="name"
                    placeholder="Enter the Name"
                    name="name" 
                    value="<%= contact.name %>"
                    >
            </div>
            <br />

            <div class="form-group">
                <input type ="hidden" name="id"
                    value="<%= contact._id %>">
                <label for="contactAddress">Address</label>
                <input type ="text" class="form-control"
                    id="address"
                    placeholder="Enter the Address"
                    name="address" 
                    value="<%= contact.address %>"
                    >
            </div>
            <br />

            <div class="form-group">
                <input type ="hidden" name="id"
                    value="<%= contact._id %>">
                <label for="contactEmail">Email</label>
                <input type ="text" class="form-control"
                    id="email"
                    placeholder="Enter the Email"
                    name="email" 
                    value="<%= contact.email %>"
                    >
            </div>
            <br />

            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i> 
                Submit
            </button>
            <a href="/contacts/delete/<%= contact._id %>" class="btn btn-danger">
                <i class="fas fa-undo"></i>  Delete</a>
                <a href="/contacts/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 

                    Cancel
                </a>
            </form>
        </div>
    </div>

<%- include ../partials/footer.ejs %>